.input{
    border-radius: 15px;
    background-color: #507D72;
    border-style: none;
    word-wrap: break-word;
    word-break: break-all;
    height: 80%;

}

.desc{
    max-height: 100%;   
}

.input2{
    background-color: #507D72;
    height: 40px;
    width: 150px;
    border-radius: 10px;
    border-style: none;
}

.con1{
    width: 180px;
}
.con2{
    width: 280px;
}
.con2 select{
    width: 250px;
}