.block_bk{

    width: 80%;
    height: 65%;

    background-color: #2F3D40;
    
    margin-left: auto;
    margin-right: auto;
    transform: translate(0, 25%);

    border-radius: 50px;
}

/*config linha inf do titulo*/
#linha{
    margin-top: 5px;
    height: 1px;
    width: 80%;
    background-color: black;
    margin-left: auto;
    margin-right: auto;
}

.left{
    width: 40%;
    height: 80%;
    margin-left: 5%;
    margin-right: 5%;
}

.right{
    width: 40%;
    height: 80%;
    margin-left: 5%;
    margin-right: 5%;
}

.title h2{
    width: 90%;
    margin-top: 15px
    
}

.input{
    border-radius: 15px;
    background-color: #507D72;
    border-style: none;
    word-wrap: break-word;
    word-break: break-all;
    height: 80%;

}

.desc{
    max-height: 100%;   
}

.input2{
    background-color: #507D72;
    height: 40px;
    width: 150px;
    border-radius: 10px;
    border-style: none;
}

.con1{
    width: 180px;
}
.con2{
    width: 280px;
}
.con2 select{
    width: 250px;
}