.size{
    width: 40%;
    height: 77%;

    margin-left: 5%;
    margin-right: 5%;
    margin-top: 3%;
}

.add{
    padding: 20px;
    border-style: solid;
    border-color: #507D72;
    border-radius: 15px
}

.model{
    padding: 20px;
    border-style: solid;
    border-color: #507D72;
    border-radius: 15px

}

.model div{
    margin-bottom: 5px
}

.add div{
    margin-bottom: 5px
}

.block_bk label{
    margin-top: auto;
    margin-bottom: auto;
}

.right{
    padding: 20px;
    border-style: solid;
    border-color: #507D72;
    border-radius: 15px
    
}

.model input{
    width: 60px;
}