body,html{
    padding: 0px;
    margin: 0px;

    width: 100%;
    height: 100%;
    font-family: "lato";
}

body{
    background-image: linear-gradient(0deg, rgba(245,245,245,1) 0%, rgba(61,90,115,1) 100%);
    background-repeat: no-repeat;
    background-size: cover;

}

/*config geral para alinhamento em coluna*/
.column{
    display: flex;
    flex-direction: column;
}

/*config geral para alinhamento em linha*/
.row{
    display: flex;
    flex-direction: row;
}

.align{
    margin-left: auto;
    margin-right: auto;
    align-content: space-around;
}

/* seta para voltar pagina */
.back{
    width: 5%;
    margin-top: 10px;
    margin-left: 15px
}

/*config do titulo*/
.title{
    font-family: 'lora';
    font-weight: bold;
}

.text_align{
    text-align: center;
}

.cem{
    width: 100%
}

.block_bk{
    width: 900px;
    height: 450px;

    background-color: #2F3D40;

    transform: translate(0, 40%);
    border-radius: 50px;
}

.line{
    width: 80%;
    height: 1px;
    background-color: black;
}

.block_bk input{ 
    background-color: #507D72;
    height: 25px;
    border-style: none;
    border-radius: 5px;
} 

.return{
    width: 30px;
    height: 30px;
    margin-top: 20px;
    margin-left: 20px;
}

.left{
    width: 40%;
    height: 80%;
    margin-left: 5%;
    margin-right: 5%;
}

.right{
    width: 40%;
    height: 80%;
    margin-left: 5%;
    margin-right: 5%;
}