/*config geral, daqui...*/
body,html{
    padding: 0px;
    margin: 0px;

    width: 100%;
    height: 100%;
    font-family: "lato";
}

body{
background-image: linear-gradient(0deg, rgba(245,245,245,1) 0%, rgba(61,90,115,1) 100%);
background-size: 150%;

}

/*até aqui*/

/*faixa decorativa titulo*/
#block_title{
    margin-top: -20px;
    background-color: #455559;
    width: 100%;
    height: 120px;
    font-weight: bold;
    font-family: 'lora';
    color: #FFFFFF;
    padding-top: 10px;
}

.title{
    text-align: center;
    font-family: 'lora';
}

/*class para alinhamento*/
.align{
    margin-left: auto;
    margin-right: auto;
    align-content: space-around;
    align-items: center;
}

.forms{
    padding-top: 20px;

    display: flex;
    flex-direction: column;

    width: 100%;
}

.forms input{
    width: 350px;
}

#user_photo{
    background-color: rgba(0,0,0,0);
    border-style: none;
}