.block_bk{
    width: 80%;
    height: 65%;

    background-color: #2F3D40;

    transform: translate(0, 25%);
    border-radius: 50px;
}
.line{
    width: 80%;
    height: 1px;
    background-color: black;

}

.block{
    width: 40%;
    margin: 5%
}





#add_photo{
    width: 250px;
}