/*configuração do titulo*/
.left h2{
    color: #6CAB9C;
    margin: 0px;
    font-size: 35px;
}


/*titulo da direita*/
.title_right{
    height: 10%;
    margin-bottom: 50px;
}

/*caixas de entrada*/
.input{
    border-style: none;
    width: 420px;
    height: 45px;
    border-radius: 30px;
    padding-left: 20px;
}

/*botoes de criar e acessar conta*/
.button{
    width: 250px;
    height: 60px;
    border-radius: 30px;
    
}

/*logo :)*/
#logo{
    margin-top: 60PX;
    width: 400px;
}

.rigth{

    background-color: red;
}

.in{
    background-color: aliceblue;
    width: 220px;
    height: 40px;
    border-radius: 10px;

}

.in input{
    margin-left: 5px;
    margin-top: 7px;
    background-color: aliceblue;
    border-style: none;
}

.but{
    background-color:#2F3D40;
    height: 80px;
    width: 170px;

    font-family: 'lato';
    color: aliceblue;
    font-size: 20px;

    border-radius: 15px;
    border-style: solid;
    border-color: #507D72;
}

.full{
    background-color: #507D72;
}