/*configuração do titulo*/
.left h2{
    color: #6CAB9C;
    margin: 0px;
    font-size: 35px;
}


/*titulo da direita*/
.title_right{
    height: 10%;
    margin-bottom: 50px;
}

/*caixas de entrada*/
.input{
    border-style: none;
    width: 420px;
    height: 45px;
    border-radius: 30px;
    padding-left: 20px;
}

/*botoes de criar e acessar conta*/
.button{
    width: 250px;
    height: 60px;
    border-radius: 30px;
    
}

/*botão de acessar conta*/
.access{
    background-color: #507D72;
    border-style: none;
    font-size: 25px;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 30px;
}

/*botão de criar conta*/
#create{
    background-color: #455559;
    border-style: solid;
    border-color: #507D72;
    font-size: 25px;
    font-weight: bold;
}

/*logo :)*/
#logo{
    margin-top: 60PX;
    width: 400px;
}

.rigth{

    background-color: red;
}

.in{
    background-color: aliceblue;
    width: 220px;
    height: 50px;
}

.in input{
    background-color: aliceblue;
}