/*config geral, divisória esquerda*/
#block_left{
    width: 50%;
    height: 100%;

    padding-left: 40px;
    padding-top: 15px;

    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
}

/*configuração do titulo*/
#block_left h1{
    color: #6CAB9C;
}

/*config geral, divisória direita*/
#block_right{
    width: 50%;
    height: 100%;

    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;

    display: flex;
    flex-direction: column;
    align-content: center;

    padding-top: 5%;
}

/*linha de icones e caixas de input*/
.block{
    width: 60%;
    height: 60px;

    display: flex;
    flex-direction: row;
    margin: 15px;

}

/*titulo da direita*/
.title_right{
    height: 10%;
    margin-bottom: 50px;
}

/*caixas de entrada*/
.input{
    border-style: none;
    width: 420px;
    height: 45px;
    border-radius: 30px;
    padding-left: 20px;
}

/*botoes de criar e acessar conta*/
.button{
    width: 250px;
    height: 60px;
    border-radius: 30px;
    
}

/*botão de acessar conta*/
.access{
    background-color: #507D72;
    border-style: none;
    font-size: 25px;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 30px;
}

/*botão de criar conta*/
.create{
    background-color: #455559;
    border-style: solid;
    border-color: #507D72;
    font-size: 25px;
    font-weight: bold;
}

/*icone de vuzualizar/ocultar senha*/
.eye{
    margin-left: 10px;
    margin-right: -5px;
}

/*logo :)*/
#logo{
    margin-top: 60PX;
    width: 115%;
}